/* ここから下に記載していく */

p{
    color:blueviolet;
    font-size: 8;
}

.about_01 {
    color: brown;
}

.field {
    /* display: flex; */
    display: flex;
    justify-content: space-between
}
.card_content {
    margin: 10px;
    /* margin: 100px; */
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px; */
    padding: 10px;
    /* padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px; */
    width: 150px;
    height: 150px;
    text-align: center;
    background:grey;

}

body {
    background-color: yellow;
}

h1 {
    color: blue;
}

@media screen and (max-width: 800px) {
    h1{
        color:red;
    }
    
}